/********************************************************/
/*                 Page background                      */
/********************************************************/
body, .content { 
	background: #000; 
	color:#FFF; 
}


/********************************************************/
/*                     Typography                       */
/********************************************************/
h1, h2, h3, h4, h5, h6 { 
	font-family: "Trebuchet MS", "Fira Sans", Helvetica, Arial;
	font-weight: 300;
}

p, .jumbotron p {
	font-family: "Trebuchet MS", "Fira Sans", Helvetica, Arial;
	font-size: 15px;
	line-height: 1.6em;
}

a{ color: #CCC; }
a:hover, a:focus { color: #FCC; }
a:visited { color: #CCC; }

/********************************************************/
/*                        Header                        */
/********************************************************/
.header {
	background: #C51026 url(../images/header.jpg) top center; 
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	color: #FFF;
	margin-bottom: 0;
	padding-bottom: 0px;
}
.header h1 {
	font-weight: bold;
	margin: 15px 0 10px 0;
	text-align: center;
	text-shadow: 0 2px 0 rgba(125, 125, 125, 0.1);
	color:#FFEFDD;
}
.header h2 {
	font-size: 20px;
	font-weight: bold;
	margin: 0 0 25px 0;
	text-align: center;
	text-shadow: 0 1px 5px rgba(255, 255, 255, 0.5);
}
.header p { font-size: 15px; line-height: 1.2em;}
.header .lead {
	color: rgba(255,255,255,0.7);
	line-height: 1.2em;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	text-shadow: 0 2px 0 rgba(255,255,255,0.2);
}
.header .small { 
	font-size: 0.9em; 
	line-height: 1.2em;
	text-align: center;
	text-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
}
.header .text-muted { color:white; opacity: 0.5; }

.header form { margin-bottom: 18px; }
.header .form-control { background: rgba(255,255,255,0.4); border: 0; color: #000; font-size:15px;}
.header .form-control::-webkit-input-placeholder { color: rgba(255,255,255,0.3); }
.header .form-control:-moz-placeholder { color: rgba(5,5,5,0.3); }
.header .form-control::-moz-placeholder { color: rgba(5,5,5,0.3); }
.header .form-control:-ms-input-placeholder { color: rgba(5,5,5,0.3); }
.header .btn-default {
	background: rgba(255,255,255,.06);
	border: 1px solid rgba(255,255,255,.8);
	color: rgba(255,255,255,.8);
	font-size:15px;
	padding: 12px 36px;
}
input[type="text"]:focus {   
    color: #FFF;
    border-color: rgba(236, 30, 40, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(255, 100, 100, 0.6);
    outline: 0 none;
}

/********************************************************/
/*          Illustration and its animation              */
/********************************************************/
#illustration { z-index: 1; text-align: center; width:100%; margin-bottom:-130px;}
#illustration img {
	max-width:100%;
	-webkit-transition: all 0.8s;
	-o-transition: all 0.8s;
	-moz-transition: all 0.8s;
	transition: all 0.8s;
}
.expand img{ margin-bottom:120px; margin-top:-100px; }



/********************************************************/
/*                       Content                        */
/********************************************************/

.content { 
	position: relative; 
	z-index: 999; 
	margin-bottom:40px;  
}

#leadin {
    background:#C51026;
}

footer { 
	background:#C51026; 
    color:#EEE;
}

.space-before { padding-top:15px; }
.space-after { padding-bottom:15px; }

.img-feature { 
	border:9px solid #C51026;
	margin:0 auto;
	-webkit-border-radius: 50% ;
	-moz-border-radius: 50% ;
	border-radius: 50%;
	padding:6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


/********************************************************/
/*                   Responsiveness                     */
/********************************************************/

@media (max-width: 767px) {
	h1, h2, h3, h4 { text-align: center;}
}

@media (min-width: 482px) {
	.header h1 { font-size: 55px; }
	.header h2 { font-size: 30px; }
	.header p { font-size: 15px; }

	#illustration { margin-bottom:-215px;}
	.expand img{ margin-bottom:200px; margin-top:-180px; }
}
@media (min-width: 768px) {
	.header h1 { font-size: 55px; }
	.header h2 { font-size: 20px; }
	.header p { font-size: 15px; }
	.header .lead { font-size:20px; }

	#illustration { margin-bottom:-310px;}
	.expand img{ margin-bottom:300px; margin-top:-190px; }

}
@media (min-width: 992px) {

	.header h1 { font-size: 55px; margin-top: 15px; }
	.header h2 { margin-bottom: 40px;}
	.header p { font-size: 15px; }

	#illustration { margin-bottom:-380px;}
	.expand img{ margin-bottom:370px; margin-top:-260px; }

	.space-before { padding-top:30px; }
	.space-after { padding-bottom:30px; }

}
